.marquee {
  height: 30px;
  width: 100%;

  position: relative;
}

.marquee ul {
  display: flex;
  width: 200%;
  height: 30px;

  position: absolute;
  animation: marquee 40s linear infinite;
  top: -100%;
}

ul > li {
  display: flex;
  padding-right: 10px;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

#start-button {
  position: relative;
  z-index: 2;
}
